@import "tailwindcss/preflight";
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 15, 23, 42;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
    margin: 0;
}

/* Общие стили */
a {
    text-decoration: none;
    color: inherit;
}

/* Мы сохраняем эти классы для обратной совместимости с теми компонентами, 
   которые еще не были перенесены на MUI */

/* Status colors */
.bg-status-new {
    background-color: rgb(191 219 254);
    /* blue-200 equivalent */
}

.bg-status-in_progress {
    background-color: rgb(254 240 138);
    /* yellow-200 equivalent */
}

.bg-status-waiting_parts {
    background-color: rgb(233 213 255);
    /* purple-200 equivalent */
}

.bg-status-ready {
    background-color: rgb(74 222 128);
    /* green-400 equivalent */
}

.bg-status-completed {
    background-color: rgb(22 163 74);
    /* green-600 equivalent */
}

.bg-status-canceled {
    background-color: rgb(248 113 113);
    /* red-400 equivalent */
}